<table class="message_listing">
<% messages.each_with_index do |message,index| %>
  <tr class="<%= index % 2 == 0 ? "" : "odd" %>"> 
    <td><%= message.status == 0 ? "New!" : "" %></td> 
    <td>&rarr;<%= link_to message.from_user.name, message.from_user %> </td>
    <td><b>Subject</b>: <%= link_to message.subject, message %></td>
    <td><%= message.created_at %></td>
  </tr> 
<% end %> 
</table> 


