<h1> Reply </h1> 

<div class="mail">
  <b><%= @message_from.from_user.name %></b>:<%= @message_from.contents %> 
</div>

<%= form_for @reply do |f| %> 

  <div class="field">
  <%= f.label :contents %> <br/>
  <%= f.text_area :contents %> 
  </div> 

  <%= f.hidden_field :to_user, :value => @message_from.from_user.name %> 
  <%= f.hidden_field :previous_message_id, :value => @message_from.id %> 
  <%= f.hidden_field :subject, :value => "Re: #{@message_from.subject.gsub!(/Re: /, '')}" %> 

  <%= f.submit :value => "Reply" %> 

<% end %> 

