<h1> Reply </h1> 

<div class="mail">
  <b><%= @message_from.from_user.name %></b>:<%= @message_from.contents %> 
</div>

<%= form_for(@reply, :method => "post") do %>
  <div class="field"> 
    <%= text_field_tag :subject, "Re: #{@message_from.subject}"%> 
  </div>
  <div class="field">
    <%= text_area_tag :contents%> <br/>
  </div>

  <%= hidden_field :previous_message_id, :value => @message_from.id %> 
  <%= hidden_field :to_user, :value => @message_from.to_user_id %> 
  
  <%= submit_tag :value => :Reply %> 
<% end %> 
