<h1><%= image_tag "/favicon.ico" %> Home</h1>

<% unless user_signed_in? %>
  <p>Welcome to sunbox! You can either <%= link_to "Login", new_user_session_path %>, 
  or <%= link_to "Register", new_user_registration_path %>. </p>
<% end %> 

<%= render 'partials/latest_news_item' %>

<h3>Newest Users</h3> 
<%= render 'users/list_limited_users' %>

<h3>Newest Songs</h3>
<%= render 'songs/list_limited_songs' %>

