<h1>News</h1>

<% @newspapers.each do |newspaper| %>
  <div class="news"> 
  <h4> <%= newspaper.title %> 
       [<%= link_to 'Edit', edit_newspaper_path(newspaper) %> | 
       <%= link_to 'Delete', newspaper, method: :delete, data: { confirm: "Are you sure?"} %>] </h4> 
  <%= newspaper.text %>
  </div>
<% end %>

<%= link_to 'New Newspaper', new_newspaper_path %>

