<h1>Listing newspapers</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @newspapers.each do |newspaper| %>
  <tr>
    <td><%= newspaper.title %></td>
    <td><%= newspaper.text %></td>
    <td><%= link_to 'Show', newspaper %></td>
    <td><%= link_to 'Edit', edit_newspaper_path(newspaper) %></td>
    <td><%= link_to 'Destroy', newspaper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Newspaper', new_newspaper_path %>
