<h1>My Collaborations</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @collaborations.each do |collaboration| %>
  <tr>
    <td><%= collaboration.owner_id %></td>
    <td><%= collaboration.description %></td>
    <td><%= link_to 'Show', collaboration %></td>
    <td><%= link_to 'Edit', edit_collaboration_path(collaboration) %></td>
    <td><%= link_to 'Destroy', collaboration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Collaboration', new_collaboration_path %>
