<!DOCTYPE html>
<html>
<head>
  <title>Sunbox</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'partials/navigation' %> 

<div id="wrap">
  <div id="contents">
  <% unless notice.blank? %> 
    <p class="notice"><%= notice %></p>
  <% end %> 
  <% unless alert.blank? %>   
    <p class="alert"><%= alert %></p>
  <% end %> 
  <%= yield %>
  <%= render 'partials/footer' %> 
  </div>
</div>

</body>
</html>
